@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif!important;
    
}
#navbar {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    z-index: 500;
}

#navbar .nav-navbar {
    height: 10vh;
}

#navbar a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    z-index: 300;
    color: #a8a8a8;
}
.knn{
    margin-right: 0!important;
}

#navbar ul li {
    margin-right: 25px;
}


#navbar ul li a {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s;
}

#navbar ul li a:hover {
    color: #f96720;
}

#navbar .active {
    color: rgb(0, 0, 0);
    border: 1px solid #a8a8a8;
    border-radius: 30px;
}
.nm {
    font-size: 1.5em;
    font-weight: 700;
}

.topo {
    opacity: 30%;
    z-index: -2;
    position: absolute;
    overflow: hidden;
    content: "";
    top: 0px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-image: url(../image/topo.jpg);
    background-size: contain;
}
.col-lg-6 {
    z-index: 400;
}
.col-lg-6 h2 {
    font-weight: 700;
    font-size: 7.5em;
    margin-bottom: 0;
    line-height: 0.95em;
}
.col-lg-6 h2 span{
    color: #f96720;
}
.col-lg-6 p {
    font-weight: 600;
    font-size: 1.5em;
}
.tx {
    overflow: hidden;
    content: "";
    width: 1296px;
    height: 728px;
    background-image: url(../image/htl1.jpg);
    background-size: 100% 100%;
    border-radius: 50px;
}
.flt {
    border-radius: 25px;
    z-index: 999999;
    margin-left: 90px;
    margin-right: 100px;
}
.flt p {
    margin-bottom: 0;
}
.select {
    padding: 20px 25px 20px 25px;
    border-radius: 20px;
    border: 2px solid #c9c9c9;
}
.jnsbs {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    flex: 1;
    background-image: none;
    cursor: pointer;
}
#jns * {
    font-weight: 600;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    border-radius: 25px;
    padding: 25px;
}
option * {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    border-radius: 25px;
    padding: 5px!important;
}
.slnjt {
    z-index: 100;
    padding: 15px 25px 15px 25px;
    position: absolute;
    top: 25.15em;
    right: 11.5em;
    background-color: #f96720;
    border-radius: 30px;
    font-size: 2em;
    color: white;
}
.slnjt:hover {
    color: #000000;
    transition: 0.5s;
}
.lstbs {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 55px;
}
.lstbs h1 {
    font-weight: 700;
    font-size: 3em;
}
.crd {
    margin-bottom: 10px;
}
.crad {
    margin-top: -40px!important;
}
.ftkmr {
    z-index: -1;
    border-radius: 25px;
    width: 350px;
    height: 450px;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    display: block;
    object-fit: cover;
    backface-visibility: hidden;
}
.txtlist {
    margin-top: -100px;
    z-index: 99;
    position: relative;
    height: 100px;
    width: 350px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(0, 0, 10, 0.450);
    color: white;
    border-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    backface-visibility: hidden;
    overflow: hidden;
}
.txtlist .jdl {
    font-size: 1.5em;
    font-weight: 700;
}
.txtlist p {
    margin-bottom: 0;
}
.add {
    padding: 10px 15px!important;
    background-color: #ffffff!important;
    border-radius: 15px!important;
}
#addModal .modal-content {
    border-radius: 25px;
    border: 0;
    outline: 0;
}
#addModal .modal-title {
    font-weight: 700;
    font-size: 1.5em;
}
#addModal .btnadd {
    background-color: #f96720;
    border-radius: 15px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    color: white;
}
#addModal .btncncl {
    background-color: #4b4b4b;
    border-radius: 15px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    color: white;
}
#addModal .form-control {
    border-radius: 10px;
    background-color: #f6f9ff;
    border: none;
}
#addModal .form-control:focus {
    box-shadow: none!important;
}
#addModal ::-webkit-file-upload-button {
    display: none;
  }

.fnc {
    margin-right: -3px;
}
.edt {
    padding: 10px 13px!important;
    margin-bottom: -90px;
    position: absolute;
    background-color: rgba(0, 0, 10, 0.450)!important;
    border-radius: 15px!important;
}
.edt:hover{
    transition: 0.2s;
    background-color: rgba(92, 92, 92, 0.45)!important;
}
.hps {
    margin-right: 55px;
    margin-bottom: -110px;
    margin-top: 22.2px;
    position: absolute;
    background-color: rgba(0, 0, 10, 0.450)!important;
    border-radius: 15px!important;
    padding-top: 2.5px;
    padding-bottom: 1.5px;
}
.hps:hover {
    transition: 0.2s;
    background-color: rgba(92, 92, 92, 0.45)!important;
}
.tgl {
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 1.4em;
}
.tgl:focus{
    border: 0;
    outline: 0;
}
::-webkit-inner-spin-button { 
    display: none; 
}
::-webkit-calendar-picker-indicator {
    margin: -7px 0;
    position: absolute;
    width: 9%;
    background: transparent;
}