@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif!important;
    
}
#navbar {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    z-index: 500;
}

#navbar .nav-navbar {
    height: 10vh;
}

#navbar a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    z-index: 300;
    color: #a8a8a8;
}
.knn{
    margin-right: 0!important;
}

#navbar ul li {
    margin-right: 25px;
}


#navbar ul li a {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s;
}

#navbar ul li a:hover {
    color: #f96720;
}

#navbar .active {
    color: rgb(0, 0, 0);
    border: 1px solid #a8a8a8;
    border-radius: 30px;
}
.nm {
    font-size: 1.5em;
    font-weight: 700;
}
/* .rst {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    content: "";
    width: 1296px;
    height: 728px;
    background: inherit;
    border-radius: 50px;
    box-shadow: outset 0 0 0 3000px rgba(255, 255, 255, 0.192);
    background-color: whitesmoke;
}
.rstt {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    content: "";
    width: 1296px;
    height: 728px;
    background-image: url(../image/htl1.jpg);
    background-size: 100% 100%;
    opacity: 50%;
    border-radius: 50px;
} */
.rst {
    z-index: -1;
    position: realtive;
    overflow: hidden;
    content: "";
    width: 1296px;
    height: 500px;
    background: inherit;
    border-radius: 50px;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.192);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .rst {
      -webkit-backdrop-filter: blur(3.5px);
      backdrop-filter: blur(4px);
      background: inherit;
      border: 1px solid rgba(214, 214, 214, 0.568);
    }
    .warning {
      display: none;
    }
  }
  
.topo {
    opacity:20%;
    z-index: -2;
    position: absolute;
    overflow: hidden;
    content: "";
    top: -100px;
    width: 100%;
    height: 550px;
    object-fit: cover;
    background-image: url(../image/topo.jpg);
    background-size: contain;
}
.col-lg-6{
    z-index: 400;
}
.txt{
    padding-left: 4rem!important;
}
.col-lg-6 h2 {
    color: #363636!important;
    font-weight: 700;
    font-size: 7.5em;
    margin-bottom: -5px;
    line-height: 0.9em;
}
.col-lg-6 h3 {
    color: #363636!important;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 0px;
}
.col-lg-6 h2 span{
    color: #f96720;
}
.col-lg-6 p {
    color: #b3b3b3!important;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: -5px;
}
.desk {
    color: #535353!important;
    padding-left: 4rem!important;
    padding-right: 4rem!important;
    margin-top: -30px!important;
    font-weight: 600;
    font-size: 1em;
}
.tx {
    margin-bottom: 40px;
}
.flt {
    border-radius: 25px;
    z-index: 999999;
    margin-left: 90px;
    margin-right: 100px;
}
.flt p {
    margin-bottom: 0;
}
.select {
    padding: 20px 25px 20px 25px;
    border-radius: 20px;
    border: 2px solid #c9c9c9;
}
.jnsbs {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    flex: 1;
    background-image: none;
    cursor: pointer;
}
#jns * {
    font-weight: 600;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    border-radius: 25px;
    padding: 25px;
}
option * {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    border-radius: 25px;
    padding: 5px!important;
}
.slnjt {
    z-index: 100;
    padding: 15px 25px 15px 25px;
    position: absolute;
    top: 25.15em;
    right: 11.5em;
    background-color: rgb(249, 103, 32);
    border-radius: 30px;
    font-size: 2em;
    color: white;
}
.slnjt:hover {
    color: #000000;
    transition: 0.5s;
}
.lstbs {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 55px;
}
.lstbs h1 {
    font-weight: 700;
    font-size: 3em;
}
.crd {
    margin-bottom: 10px;
}
.ftkmr {
    z-index: -1;
    border-radius: 25px;
    width: 350px;
    height: 450px;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    display: block;
    object-fit: cover;
    backface-visibility: hidden;
}
.txtlist {
    margin-top: -100px;
    z-index: 99;
    position: relative;
    height: 100px;
    width: 350px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(0, 0, 10, 0.450);
    color: white;
    border-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    backface-visibility: hidden;
    overflow: hidden;
}
.txtlist .jdl {
    font-size: 1.5em;
    font-weight: 700;
}
.txtlist p {
    margin-bottom: 0;
}
.tgl {
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 1.4em;
}
.tgl:focus{
    border: 0;
    outline: 0;
}
::-webkit-inner-spin-button { 
    display: none; 
}
::-webkit-calendar-picker-indicator {
    margin: -7px 0;
    position: absolute;
    width: 9%;
    background: transparent;
}
.kmr {
    padding-left: 10px;
    z-index: -1;
    border-radius: 30px;
    width: 650px;
    height: 350px;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    display: block;
    object-fit: cover;
    backface-visibility: hidden;
}
.flt .form-control {
    border-radius: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #c9c9c9;
}
.flt .form-control:focus {
    box-shadow: none!important;
}
.flt ::-webkit-file-upload-button {
    display: none;
}
.tmbl .btn {
    border-radius: 15px;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 10px;
}
.tmbl .btnadd{
    background-color: #f96720;
}
.gmbredt {
    padding: 15px;
    max-width: 1000px;
}